body {
    background-color: #fcfcfc;
    margin: 0;
}

a {
    text-decoration: none;
}


.container {
    width: 60%;
    margin: 0 auto;
}

.header_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
}

.img_profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-right: 5px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
}
.img_post {
    border-radius: 5px;
    width: 100%;
}
#title, .subtitle, .post_title {
    color: blue;
}

#title {
    font-size: 16px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    margin-top: 15px;
    font-style: italic;
}
.post_content {
    width: 100%;
}

footer {
    width: 100%;
}

.social {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 10%;
}
.social li  {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.facebook{
    display: flex;
}

.social img {
    width: 20px;
}

.social a {
    margin-left: 5px;
}

