body {
    background-color: #fcfcfc;
    margin: 0;
}

.container {
    margin: 15px;
}

.header_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.img_profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ccc;
    margin-right: 5px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
}
.img_post {
    border-radius: 5px;
    width: 50%;
}
#title, .subtitle, .post_title {
    color: blue;
}

#title {
    font-size: 16px;
    text-transform: uppercase;
}
.subtitle {}

.post_title {
    font-size: 16px;
    margin-top: 15px;
    font-style: italic;
}